/* Geral */
html, body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

/* Seção de Contato */
.contact-container {
    background-color: #fff;
    padding: 30px;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin: 0 auto;
}

.contact-container h2 {
    font-size: 40px; 
    color: #9e0909;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    line-height: 1.2;
    border-bottom: 3px solid #ffd700;
    display: inline-block;
    padding-bottom: 5px;
}

.contact-container p {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
    margin: 10px 0;
    text-align: center;
}

.contact-container ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.contact-container ul li {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
    text-align: left; 
    display: flex; 
    align-items: center; 
}


.contact-container ul li::before {
    content: '✓'; 
    color: #9e0909;
    font-weight: bold;
}

.contact-container a {
    color: #9e0909;
    text-decoration: none;
    font-weight: bold;
}

.contact-container a:hover {
    color: #ffd700;
    text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
    .contact-container {
        width: 90%;
        padding: 20px;
    }

    .contact-container h2 {
        font-size: 28px;
    }

    .contact-container p,
    .contact-container ul li {
        font-size: 16px;
    }
}


@media (max-width: 630px) {
    .container {
        flex-wrap: wrap; 
        justify-content: center; 
    }

    .nav-links, .actions {
        flex-direction: column; 
        align-items: center;
        gap: 10px;
    }

    .search-bar {
        width: 100%; 
    }

    .logo-container {
        flex-direction: column;
        align-items: center;
    }
}
