/* Geral */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}






/* Seção de Ajuda */
.help-section {
    text-align: center;
    margin: 30px 0;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.help-section .section-title {
    font-size: 36px;
    color: #9e0909;
    margin-bottom: 10px;
}

.help-section .intro-text {
    font-size: 18px;
    color: #666;
    margin: 0 auto;
    max-width: 600px;
    line-height: 1.6;
}

/* Perguntas Frequentes */
.faq-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    padding: 20px;
}

.faq {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

.faq h2 {
    font-size: 28px;
    color: #9e0909;
    text-align: center;
    margin-bottom: 20px;
}

.faq-item {
    margin-bottom: 20px;
}

.faq-item h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 5px;
}

.faq-item p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}



/* Responsividade */
@media (max-width: 768px) {
    .faq-container {
        flex-direction: column;
        align-items: center;
    }

    .faq {
        width: 100%;
    }
}
